* {
    margin: 0;
    padding: 0;
}

#box-1 {
    background-color: purple;
}

#box-2 {
    background-color: violet;
}

#box-3 {
    background-color: blue;
}

#box-4 {
    background-color: green;
}

#box-5 {
    background-color: yellow;
}

#box-6 {
    background-color: orange;
}

#box-7 {
    background-color: red;
}

/* responsive ================================ */

/* Small devices */
@media only screen and (max-width: 600px) {
    section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .box {
        flex-basis: 100%;
        height: 10rem;
        flex-grow: 1;
    }
}


/* Medium devices  */
@media only screen and (min-width: 601px) {
    section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .box {
        flex-basis: 33.33%;
        height: 10rem;
        flex-grow: 1;
    }

    #box-1, 
    #box-2,
    #box-6,
    #box-7 {
        flex-basis: 100%;
        height: 10rem;
        flex-grow: 1;
    }

}

/* Large devices  */
@media only screen and (min-width: 801px) {
    section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .box {
        flex-basis: 33.33%;
        height: 10rem;
        flex-grow: 1;
    }

    #box-1,
    #box-2,
    #box-6,
    #box-7 {
        flex-basis: 50%;
        height: 10rem;
        flex-grow: 1;
    }

}
